main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .lazy {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  