/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #4ba530;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

header h1 {
  margin: 0;
}

/* Navigation Styles */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hamburger {
      display: block;
  }

  nav ul {
      display: none;
      flex-direction: column;
      background-color: #111;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
  }

  nav ul.active {
      display: flex;
  }

  nav li {
      margin: 10px 0;
  }
}

/* Main Content Styles */
main {
  padding: 20px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.temple-container {
  position: relative;
  overflow: hidden;
}

.temple-container img {
  width: 100%;
  height: auto;
}

.temple-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.temple-overlay h2 {
  margin: 0;
}

/* Footer Styles */
footer {
  background-color: #4ba530;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #222;
  color: #ffffff;
}
body.dark-mode {
  color: #000000; 
}
