  /* Larger View Styles */
  @media (min-width: 768px) {
    .card {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .card--learning {
      grid-template-columns: 2fr 1fr;
    }
  
    .nav {
      flex-direction: row;
    }
  
    .main {
      grid-template-columns: 1fr 1fr;
    }
  }